<style>.embed-etranslate-LanguageList{display:inline-block;cursor:pointer;font-size:14px;direction:ltr}.etranslate-language-float-link{border:1px solid #e0e2e4;background-color:white}.rectangle_flag:before{content:"\00a0"}.select-dropdown-flag-icon-link{font-size:20px;box-sizing:content-box;background-size:contain;background-position:50%;background-repeat:no-repeat;background-size:contain;background-position:50%;background-repeat:no-repeat;position:relative;display:inline-block;width:1.33333333em;line-height:1em}.select-dropdown-flag-icon-link:before{content:"\00a0"}#etranslate-language-embedded-selector>ul{margin:0;-webkit-transition:max-height .3s,visibility .2s,opacity .2s;-moz-transition:max-height .3s,visibility .2s,opacity .2s;-ms-transition:max-height .3s,visibility .2s,opacity .2s;-o-transition:max-height .3s,visibility .2s,opacity .2s;transition:all .2s}.embed-etranslate-flag-wrapper{display:flex;align-items:center;width:28px;height:28px;font-size:20px;margin-right:3px}.embed-etranslate-language-list-button{padding:8px 10px 8px 10px;display:flex;align-items:center;justify-content:space-between;-webkit-transition:max-height .2s,visibility .2s,opacity .2s;-moz-transition:max-height .2s,visibility .2s,opacity .2s;-ms-transition:max-height .2s,visibility .2s,opacity .2s;-o-transition:max-height .2s,visibility .2s,opacity .2s;transition:all .2s}.embed-etranslate-language-list-button-centent{display:flex;align-items:center}.embed-etranslate-language-arrow{display:block!important;width:.5em;height:.5em;border-right:1.5px solid currentColor;border-top:1.5px solid currentColor;transform:rotate(45deg);transition:all .2s;position:relative;top:-1px}.etranslate-language-arrow-up{transform:rotate(-45deg)!important}.etranslate-language-arrow-down{transform:rotate(135deg)!important}.embed-etranslate-language-list-button:hover{opacity:.8}.embed-etranslate-language-list-dropdown{padding:0;overflow:auto;background:white;width:208px;user-select:none;position:absolute;z-index:516;flex-direction:row;justify-content:flex-start;align-items:center;margin:0;-webkit-transition:max-height .3s,visibility .2s,opacity .2s;-moz-transition:max-height .3s,visibility .2s,opacity .2s;-ms-transition:max-height .3s,visibility .2s,opacity .2s;-o-transition:max-height .3s,visibility .2s,opacity .2s;-webkit-overflow-scrolling:touch;overflow:-moz-scrollbars-none;display:block;border:1px solid rgba(224,224,224,1)}.embed-etranslate-language-list-dropdown::-webkit-scrollbar{display:none}.embed-etranslate-language-list-dropdown>li{margin:0!important;padding:8px 10px 8px 10px;cursor:pointer}.embed-etranslate-lo-select-dropdown-item{display:flex!important;align-items:center;-webkit-transition:max-height .3s,visibility .2s,opacity .2s;-moz-transition:max-height .3s,visibility .2s,opacity .2s;-ms-transition:max-height .3s,visibility .2s,opacity .2s;-o-transition:max-height .3s,visibility .2s,opacity .2s;transition:all .2s}.embed-etranslate-language-name{padding-top:1px}.embed-etranslate-lo-select-dropdown-item:hover{opacity:.8}.lo-select-up{position:absolute;bottom:100%}.lo-select-selection-item-top{border-bottom:0}.lo-select-selection-item-bottom{border-top:0}.rectangle_flag:before{content:"\00a0"}.flag-icon{background-size:contain;background-position:50%;background-repeat:no-repeat;position:relative;display:inline-block;width:1.33333333em;line-height:1em;border-radius:4px}.circle_flag{border-radius:50%;box-sizing:content-box!important;width:1em}</style>
<div id='etranslate-language-embedded-selector' class='embed-etranslate-LanguageList' style='display:none'>
  <span class='language-button'>
    <div class='embed-etranslate-language-list-button' id='etranslate-language-button'>
      <div class='embed-etranslate-language-list-button-centent'>
        <div class='embed-etranslate-flag-wrapper'>
          <span class="rectangle_flag select-dropdown-flag-icon flag-icon" />
        </div>

        <div class="embed-etranslate-language-name"
          data-name="{{ request.locale.endonym_name | split: '-' | first | strip }}">
          {{ request.locale.name | split: '-' | first | strip }}
        </div>

      </div>
      <div class='embed-etranslate-language-arrow'></div>
    </div>
  </span>
  <ul id='embed-etranslate-language-list-dropdown' class='embed-etranslate-language-list-dropdown'
    style='max-height:0px;opacity:0;'>
    {%- for locale in shop.published_locales -%}
    <li class='embed-etranslate-lo-select-dropdown-item' data-code="{{ locale.iso_code }}"
      data-name="{{ locale.endonym_name }}">
      <div class="embed-etranslate-flag-wrapper">
        <span class="rectangle_flag select-dropdown-flag-icon flag-icon" />
      </div>

      <div class="embed-etranslate-language-name">
        {{ locale.name }}
      </div>
    </li>
    {%- endfor %}
  </ul>
</div>
<script>
function setLanguageEmbeddedSelectorWidth(f,b,e){var a;var d;if(e){a=b.mobile_flags_type;d=b.mobile_labels_type}else{a=b.flags_type;d=b.labels_type}var c=f&&f[0]?f.length:0;var g=flag_min_width[a]+language_min_width[d]+arrow_padding_width+"px";return g};
function setLanguageEmbeddedSelectorStyle(a,c){var d;if(c){d=a.mobile_font_color}else{d=a.font_color}var b;if((a.background_color==undefined&&a.background_opacity==undefined)||(a.mobile_background_color==undefined&&a.mobile_background_opacity==undefined)){b="rgba(255,255,255,1)"}else{if(c){b=transformationRgb(a.mobile_background_color,a.mobile_background_opacity)}else{b=transformationRgb(a.background_color,a.background_opacity)}}var e="background-color:"+b+";color:"+d+";";return e};
function createLanguageFixSelector(w,E,k,j,o,x,F){var m;var H;var r;var G;var b;var J;var e;if(F){m=x.mobile_flags_type;H=x.mobile_labels_type;e=transformationRgb(x.mobile_background_color,x.mobile_background_opacity)}else{m=x.flags_type;H=x.labels_type;e=transformationRgb(x.background_color,x.background_opacity)}r=m!=="rectangle_flag"?"1x1":"4x3";var l="https://my.parcelpanel.com/assets/other/flags/"+r;G=m==="no_flag"||m==="without_flag"?true:false;b=H==="no_labels"?true:false;J=H==="language_name"?true:false;var g=o.getElementsByClassName("embed-etranslate-language-list-button")[0];var h=o.getElementsByClassName("embed-etranslate-language-list-dropdown")[0];var t=setLanguageEmbeddedSelectorStyle(x,F);var D=x.language_flags;var a=findLanguageFlags(D,j);o.setAttribute("style",t);var f=g.getElementsByClassName("select-dropdown-flag-icon")[0];f.style.backgroundImage="url("+l+"/"+a.toLowerCase()+".svg)";m==="circle_flag"?f.classList.add("circle_flag"):"";h.setAttribute("style","background-color:"+e+";max-height:0px;opacity:0;");var n=setLanguageEmbeddedSelectorWidth(E,x,F);g.style.width=n;h.style.width=n;var C=h.children;for(var z=0;z<C.length;z++){var c=C[z];var v=c.getElementsByClassName("select-dropdown-flag-icon")[0];var u=c.dataset.code;var B=C[z].dataset.name;var a=findLanguageFlags(D,u);v.style.backgroundImage="url("+l+"/"+a.toLowerCase()+".svg)";m==="circle_flag"?v.classList.add("circle_flag"):"";c.onclick=I(E.find(function(i){return i.iso_code.toLowerCase()===u.toLowerCase()}),k);var s=c.getElementsByClassName("embed-etranslate-language-name")[0];if(H==="language_name"){s.innerHTML=langCodeToLangArray[u]?langCodeToLangArray[u]:s.textContent}else{if(H==="native_language_name"){B=B=="français"?"Français":B;s.innerHTML=B?B:langCodeToLangArray[u]}else{s.innerHTML=u?u.toLocaleUpperCase():u}}}if(G){var y=o.getElementsByClassName("embed-etranslate-flag-wrapper");for(var z=0;z<y.length;z++){y[z].style.display="none"}}if(b){var y=o.getElementsByClassName("embed-etranslate-language-name");for(var z=0;z<y.length;z++){y[z].style.display="none"}}else{var d=g.getElementsByClassName("embed-etranslate-language-name")[0];if(H==="language_name"){d.innerHTML=langCodeToLangArray[j]?langCodeToLangArray[j]:d.textContent}else{if(H==="native_language_name"){var B=d.dataset.name;B=B=="français"?"Français":B;d.innerHTML=B?B:d.textContent}else{d.innerHTML=j?j.toLocaleUpperCase():j}}}if(m==="rectangle_flag"){var y=o.getElementsByClassName("embed-etranslate-flag-wrapper");for(var z=0;z<y.length;z++){y[z].style.marginRight="8px"}}var q=false;g.addEventListener("click",function(i){q=!q;if(q){p()}else{A()}});function p(){h.style.maxHeight=C.length*46+"px";h.style.opacity="1";var i=g.getElementsByClassName("embed-etranslate-language-arrow")[0];if(is_up){i.classList.add("etranslate-language-arrow-up")}else{i.classList.add("etranslate-language-arrow-down")}q=true}function A(){h.style.maxHeight="0px";h.style.opacity="0";var i=g.getElementsByClassName("embed-etranslate-language-arrow")[0];i.classList.remove("etranslate-language-arrow-down");i.classList.remove("etranslate-language-arrow-up");q=false}function I(i){return function(){var R=window.location.protocol;var O=window.location.host;var K=window.location.search;var P=window.location.pathname;var Q=i.iso_code.toLowerCase();var M=(P.match(/\/(\S*?)\//)||P.match(/\/(\S*)/))[1];localStorage.setItem("lan_code",Q);if(j===Q){location.reload()}if(j.toLowerCase()!==Q.toLowerCase()&&M.toLowerCase()!==Q.toLowerCase()&&k.toLowerCase()===Q.toLowerCase()){var N;if(!M){N="/"+Q}else{N=P.replace("/"+M,"")}window.location.href=`${window.location.protocol}//${window.location.host}${N}${window.location.search}`}if(j.toLowerCase()!==Q.toLowerCase()&&M.toLowerCase()!==Q.toLowerCase()&&k.toLowerCase()!==Q.toLowerCase()){var N;if(Q===M.toLowerCase()){N=P}else{if(!M){N="/"+Q}else{var L=false;E.forEach(language=>{if(language.iso_code.toLowerCase()===M.toLowerCase()){L=true}});if(L){N=P.replace(M,Q)}else{N="/"+Q+P}}}window.location.href=`${window.location.protocol}//${window.location.host}${N}${window.location.search}`}}}return o};
function setLanguageEmbeddedSelector(){var h=getLanguageList();var d="https://{{ shop.domain }}";var f=h.find(function(i){return i.primary});var e=f?f.iso_code:"en";var g=getCurrentLocale(h,e);var a={{shop.metafields.etranslate.selector_config | json}};var c=document.getElementById("etranslate-language-embedded-selector");var b=isMobile();if(Number(a.status)===1&&a.selector_type==="language"){if(b){if(a.mobile_choose_language_selector==="embedded_selector"){applyPriviewCssCode(a.mobile_css_code);createLanguageFixSelector(d,h,e,g,c,a,b)}else{c.remove()}}else{if(a.choose_language_selector==="embedded_selector"){applyPriviewCssCode(a.css_code);createLanguageFixSelector(d,h,e,g,c,a,b)}else{c.remove()}}}else{c.remove()}setEmbeddedSelectorPosition(c,b)};
  function setEmbeddedSelectorPosition(selectorDom, is_mobile){
    var header = document.querySelector('header');
    var theme_name = window.Shopify.theme.name
    var shop_name = "{{ shop.domain }}"
    if (theme_name) {
      if (is_mobile) {
        if (theme_name.match(/Dawn/i)) {
          if(shop_name.match(/esther-vip/i)){
            var nav = document.querySelector('.header__icons')
            var iconDom = document.querySelector('.header__search')
            nav.insertBefore(selectorDom, iconDom)
          } else {
            var nav = document.querySelector('.menu-drawer__navigation');
            nav.children[0].appendChild(selectorDom)
          }
        } else if (theme_name.match(/Simple/i)) {
          var nav = document.querySelector('.site-nav');
          nav.children[0].appendChild(selectorDom)
        } else if (theme_name.match(/Boundless/i) || theme_name.match(/Brooklyn/i) || theme_name.match(/Motion/i)) {
          var nav = document.querySelector('.drawer__inner');
          nav.children[0].appendChild(selectorDom)
        } else if (theme_name.match(/Venture/i)) {
          var nav = document.querySelector('.drawer__inner');
          nav.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Debut/i)) {
          header.appendChild(selectorDom);
        } else if (theme_name.match(/Supply/i) || theme_name.match(/Minimal/i) || theme_name.match(/Pet Frendly/i)) {
          var nav = document.querySelector('.mobile-nav');
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/Narrative/i)) {
          var nav = document.querySelector('.navigation__container');
          nav.children[0].appendChild(selectorDom)
        } else if (theme_name.match(/Express/i)) {
          var nav = document.querySelector('.header__content-wrapper');
          nav.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Woodmart/i) || theme_name.match(/skinla/i)) {
          var nav = document.querySelector('.site-mobile-menu');
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/launch/i)) {
          var nav = document.querySelector('#drawer-navigation');
          nav.children[0].appendChild(selectorDom)
        } else if (theme_name.match(/Prestige/i)) {
            if (shop_name.match(/homonaturals/i)) {
            var nav = document.querySelector('.Header')
            nav.insertBefore(selectorDom, nav.children[0])
          } else {
            var nav = document.querySelector('.Header__Wrapper')
            nav.children[0].appendChild(selectorDom)
          }
        } else if (theme_name.match(/Customize/i)) {
          var nav = document.querySelector('.drawer__scrollable')
          nav.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Updated/i) && shop_name.match(/wortheattt/i)) {
          var nav = document.querySelector('.site-header__icons-wrapper')
          var menuDom = nav.querySelector('.site-header__menu')
          nav.insertBefore(selectorDom, menuDom)
        } else if(theme_name.match(/Icon/i)){
          var nav = document.querySelector('.mobile-menu')
          var menuDom = document.querySelector('.mobile-menu__social')
          nav.insertBefore(selectorDom, menuDom)
        } else if (theme_name.match(/佐々木/i) && shop_name.match(/fostex/i)) {
          var nav = document.querySelector('.site-header__icons-wrapper')
          var menuDom = document.querySelector('.site-header__menu')
          nav.insertBefore(selectorDom, menuDom)
        } else if (theme_name.match(/Ella/i)) {
          var nav = document.querySelector('.mb-area')
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/Craft/i)) {
          var searchDom = document.querySelector('.header__search')
          header.lastElementChild.insertBefore(selectorDom, searchDom)
        } else if (theme_name.match(/Pencil/i)) {
          var navDom = document.querySelector('.mobile-nav')
          navDom.appendChild(selectorDom)
        }
      } else {
        if (theme_name.match(/Simple/i)) {
          var headTab = document.querySelector(".grid");
          var cartDom = document.querySelector(".site-header__cart");
          headTab.lastElementChild.insertBefore(selectorDom, cartDom);
        } else if (theme_name.match(/Boundless/i)) {
          header.children[0].lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/Venture/i)) {
          var nav = document.querySelector('.drawer__inner');
          header.children[0].lastElementChild.lastElementChild.lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/Debut/i)) {
          header.children[0].lastElementChild.lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/Supply/i)) {
          header.lastElementChild.lastElementChild.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Brooklyn/i)) {
          var nav = document.querySelector('.site-nav');
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/Minimal/i)) {
          var nav = document.querySelector('.header-bar');
          nav.children[0].lastElementChild.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Express/i)) {
          header.lastElementChild.lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/Motion/i)) {
          header.children[0].children[0].appendChild(selectorDom);
        } else if (theme_name.match(/Woodmart/i)) {
          var headerDom = document.querySelector('.wrapp-header');
          headerDom.lastElementChild.appendChild((selectorDom))
        } else if (theme_name.match(/Pet Frendly/i)) {
          header.children[0].children[0].lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/New Year/i)) {
          var headerDom = document.querySelector('.header-layout');
          headerDom.lastElementChild.lastElementChild.appendChild((selectorDom))
        } else if (theme_name.match(/launch/i)) {
          var headerDom = document.querySelector('.header-tools');
          headerDom.lastElementChild.appendChild((selectorDom))
        } else if (theme_name.match(/Customize/i)) {
          if (shop_name.match(/magicskinco/i)) {
            var nav = document.querySelector('.header-layout')
            nav.lastElementChild.lastElementChild.appendChild(selectorDom)
          } else {
            var nav = document.querySelector('.drawer__scrollable')
            nav.lastElementChild.appendChild(selectorDom)
          }
        } else if (theme_name.match(/Prestige/i)) {
          var nav = document.querySelector('.Header__Wrapper')
          nav.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Turbo-portland/i)) {
          var nav = document.querySelector('.nav')
          nav.lastElementChild.appendChild(selectorDom)
        } else if (theme_name.match(/Updated/i)) {
          header.children[0].lastElementChild.lastElementChild.appendChild(selectorDom);
        } else if (theme_name.match(/佐々木/i)) {
          var nav = document.querySelector('.site-header__icons-wrapper')
          nav.appendChild(selectorDom)
        } else if(theme_name.match(/Icon/i)){
          var nav = document.querySelector('.header__shopping-cart')
          nav.appendChild(selectorDom)
        } else if(theme_name.match(/Impulse/i)){
          var nav = document.querySelector('.header-item--icons')
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/Ella/i)) {
          var nav = document.querySelector('.right-header')
          nav.appendChild(selectorDom)
        } else if (theme_name.match(/Craft/i)) {
          var searchDom = document.querySelector('.header__search')
          header.lastElementChild.insertBefore(selectorDom, searchDom)
        } 
        else if (shop_name.match(/kalima-arts/i)) {
        }
        else {
          header.lastElementChild.appendChild(selectorDom);
        }
      }
    }
  }
  documentReady(setLanguageEmbeddedSelector);
  function documentReady(fu){if(document.readyState==="complete"||document.readyState==="interactive"){setTimeout(documentReady(setLanguageEmbeddedSelector),1)}else{document.addEventListener("DOMContentLoaded",fu)}};
</script>
