{%- liquid
    assign _css = section.settings.cssclass
    assign _title = section.settings.quote-title
    assign _quote = section.settings.quote
    assign _author = section.settings.quote-author
    -%}

<div class="{{ _css }} content-center gradient isolate" style="background-image: url( '{{ 'kalima-white-icon.png' | asset_url }}' );">
    <div class="page-width">
        <div class="container">
            <h2 class="quote-title">{{ _title }}</h2>
            <q class="quote-item"> {{ _quote }} </q>
            <span class="quote-author"> {{ _author }}</span>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Bru Quote Section",
    "class": "bru-quote-section",
    "settings": [
        {
            "type": "text",
            "id": "cssclass",
            "label": "EXTRA CSS Class",
            "default": "quotes-section"
        },
        {
            "type": "text",
            "id": "quote-title",
            "label": "Quote Title",
            "default": "INSPIRATION QUOTE OF THE WEEK"
        },
        {
            "type": "textarea",
            "id": "quote",
            "label": "Quote",
            "default": "Let no one think that flexibility and a predisposition to compromise is a sign of weakness or a sell-out."
        },
        {
            "type": "text",
            "id": "quote-author",
            "label": "Quote Author",
            "default": "Paul Kagame"
        }
    ],
    "presets": [
        {
            "name": "Bru Quote Section"
        }
    ]
}
{% endschema %}