{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

{%- liquid
  assign _headAlign = section.settings.heading_alignment
  assign _title = section.settings.page_heading
  assign _subtitle = section.settings.page_subheading
  -%}

<div class="collection-hero gradient">
  <div class="collection-hero__inner page-width {{ section.settings.cssclass }}">
    <div class="page-heading {{ _headAlign }}">
      {% if _title != blank %}
      <h1 class="heading-title collection-hero__title">
        {{ _title }}
      </h1>
      {% else %}
      <h1 class="collection-hero__title">
        {{- collection.title | escape -}}
      </h1>
      {% endif %}
      <p class="quote-item"> {{ _subtitle }} </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Bru Collection Banner",
  "class": "section",
  "settings": [ 
    {
      "type": "text",
      "id": "cssclass",
      "label": "Extra CSS Class",
      "default": "collection-grid-section"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "page_heading",
      "label": "Page Title"
    },
    {
      "type": "richtext",
      "id": "page_subheading",
      "label": "Page description"
    }
  ]
}
{% endschema %}
