{{ 'bru-slider.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign _slidercss = section.settings.cssclass
    assign _sliderheight = section.settings.slider_height
    -%}


    {% comment %} HOme Slider {% endcomment %}
<div id="bru-slider" class="bru-slider {{ _slidercss }}" style=" height: {{ _sliderheight }}px">
    <div id="bru-slides">
    {% assign count = 0 %}
    {%- for block in section.blocks -%}
        
        {%- liquid
            assign _slideimg = block.settings.image
            assign _slideheading = block.settings.heading
            assign _slidesubheading = block.settings.subheading
            assign _slidebtntext = block.settings.button_label
            assign _slidebtntext = block.settings.button_label
            assign _slidelink = block.settings.link
            assign _slideoverlay = block.settings.overlay_opacity
            assign _slideVAlign = block.settings.content_vertical_alignment
            assign _slideHAlign = block.settings.content_horizontal_alignment
            assign _slideBtnColor = block.settings.color_btn
            assign _slideBtnTxtColor = block.settings.color_textbtn
            -%}

        <div class="slide slide-{{ count }} {{ _slideVAlign }} {{ _slideHAlign }}" style="background-image:url({{ _slideimg | image_url: width: 1200 }});">
            <div class="slide-overlay" style=" Opacity:{{ _slideoverlay }}"></div>
            <div class="slide-content ">
                <p class="slide-title">{{ _slideheading }}</p>
                {% if _slidesubheading%}
                <p class="slide-descr">{{ _slidesubheading }}</p>
                {% endif %}
                {% if _slidelink %}
                <a class="button button--primary slide-button" href="{{ _slidelink }}" style="background-color:{{ _slideBtnColor }}; color: {{ _slideBtnTxtColor }}">{{ _slidebtntext }}</a>
            {% endif %}
            </div>
        </div>

        {% assign count = count | plus: 1 %}
    {% endfor %}

    {% assign count = count | minus: 1 %}

    </div>
    <div class="slide-nav">
        <ol class="bru-slider-nav">
            {% for i in (0..count) %}
            <li class="{% if i == 0 %}active{% endif %}"></li>
            {% endfor %}
          </ol>
    </div>
</div>
<!-- End HOme Slder -->

<script src="{{ 'bru-slider.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
    "name": "Home Slideshow",
    "class": "slider-section",
    "settings": [
        {
            "type": "header",
            "content": "Slideshow Section Layout"
        }, 
        {
            "type": "text",
            "id": "cssclass",
            "label": "Extra CSS Class",
            "default": "home-main-slider"
        }, 
        {
            "type": "range",
            "id": "slider_height",
            "min": 400,
            "max": 700,
            "step": 10,
            "default": 600,
            "unit": "px",
            "label": "Slideshow Height"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide Item",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Slide Background Image"
                }, 
                {
                    "type": "range",
                    "id": "overlay_opacity",
                    "min": 0,
                    "max": 1,
                    "step": 0.1,
                    "default": 0.3,
                    "label": "Slide Overlay Opacity"
                  },
                  {
                    "type": "select",
                    "id": "content_vertical_alignment",
                    "label": "Content Vertical alignment",
                    "options": [
                      {
                        "value": "content-top",
                        "label": "Top"
                      },
                      {
                        "value": "content-middle",
                        "label": "Middle"
                      },
                      {
                        "value": "content-bottom",
                        "label": "Bottom"
                      }
                    ],
                    "default": "content-middle"
                  },
                  {
                    "type": "select",
                    "id": "content_horizontal_alignment",
                    "label": "Content Horizantal alignment",
                    "options": [
                      {
                        "value": "content-left",
                        "label": "Left"
                      },
                      {
                        "value": "content-center",
                        "label": "Center"
                      },
                      {
                        "value": "content-right",
                        "label": "Right"
                      }
                    ],
                    "default": "content-center"
                  },
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Image slide",
                    "label": "Slide Heading Title"
                }, 
                {
                    "type": "text",
                    "id": "subheading",
                    "default": "Tell your brand's story through images",
                    "label": "Slide Subheading"
                }, 
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Product Info",
                    "label": "Slide Button label"
                }, 
                {
                    "type": "url",
                    "id": "link",
                    "label": "Slide Button Link"
                },
				{
     				"type": "color",
     				"id": "color_btn",
     				"label": "CHoose Button Color",
     				"default": "#FFFFFF"
  		 		},
				{
     				"type": "color",
     				"id": "color_textbtn",
     				"label": "CHoose Button Text Color",
     				"default": "#000000"
  		 		}
            ],
            "limit": 5
        }
    ],
    "presets": [
        {
            "name": "Home Slideshow",
            "blocks": [
                {
                    "type": "slide"
                }, 
                {
                    "type": "slide"
                }
            ]
        }
    ]
}


{% endschema %}
